h1{
    color: green; font-family: 'Courier New', Courier, monospace;
}

h2{
    color: red; font-family: 'Courier New', Courier, monospace;
}

p{
    color: blue; font-family: 'Courier New', Courier, monospace;
}

.text1{
    color: blue; font-family: 'Courier New', Courier, monospace;
}

a{
    font-family: 'Courier New', Courier, monospace;
}

.text2{
    color: green; font-family: 'Courier New', Courier, monospace;
}

.TijgerPlaatje {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }

  .text3{
    font-size: 100px;
  }